*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.post{
    position: relative;
    height: 300px;
    overflow: hidden;
}
.post > img{
    width: 100%;
    height: 100%;
}
.post figcaption{
    position: absolute;
    top: 0;
    left: 0%;
    width: 100%;
    height: 100%;
    text-align: center;
    color: #fff;
    font-weight: 700;
    font-size: 20px;
    text-transform: capitalize;
    background-color: rgba(0, 0, 0, .7);
    vertical-align: middle;
    display: flex;
    align-items: center;
    transform: scale(0);
    transition: all .3s;

}
.post:hover figcaption{
    transform: scale(1);
}
.post figcaption p{
    width: 100%;
}
.id, .albumId{
    position: absolute;
    top: 5px;
    color: #fff;
    font-weight: 700;
    font-size: 20px;
    opacity: 0;
    transition: all .6s;
}
.id{
    left: 10px;
}
.albumId{
    right: 10px;
}
.post:hover .id, .post:hover .albumId{
    opacity: 1;
}